.church {

    &__inner {
        max-width: 90%;
        margin: 0 auto;
    }

    &__box {
        padding-top: 50px;
        
        &::after {
            content: "";
            display: block;
            width: 100%;
            margin-top: 50px;
            height: 0.5px;
            background-color: #000E2A;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__box1 {
        padding-top: 0;
    }

    &__wrapper {
        display: flex;
        gap: 4%;
        & + .church__wrapper {
            margin-top: 40px;
        }
    }

    &__left {
        flex: 0 0 36%;
    }

    &__figure-image {
        max-width: 100%;
    }

    &__right {
        flex: 0 0 60%;
    }

    &__right-subtitle {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    &__right-text {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: justify;
    }

    &__church-img {
        max-width: 100%;
        border-radius: var(--border-radius-images);
    }

    &__left2 {
        flex: 0 0 60%;
    }

    &__right2 {
        flex: 0 0 35%;

        .church__right-subtitle {
            display: none;
        }
    }

    &__right-title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    &__right-link {
        @extend %btn-blue;
    }

    &__wrapper-calendar {
        margin-bottom: 25px;
    }

    &__left-calendar {
        flex: 0 0 25%;
    }

    &__right-calendar {
        flex: 0 0 70%;
    }

    &__day-icon {
        text-align: center;
        
        img {
            max-width: 100%;
            height: auto;
            display: inline-block;
            border-radius: var(--border-radius-images);
        }
    }

    &__calendar-description {
        font-size: 20px;
        text-align: justify;

        div {
            margin-bottom: 10px;
        }

        a {
            color: var(--accent-color);
            text-decoration: none;
        }
    }

    &__sunday-left {
        width: 46%;

        img {
            display: block;
            max-width: 100%;
            border-radius: var(--border-radius-images);
        }
    }

    &__sunday-right {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .church {
    }
    .section {
    }
    .container {
    }
    .church__inner {
        max-width: 100%;
    }
    .church__title {
    }
    .title {
    }
    .church__box {
       padding-top: 40px;

        &::after {
            margin-top: 40px;
        }
    }

    .church__box1 {
        padding-top: 0;
    }

    .church__wrapper {
        flex-direction: column;
        gap: 15px;
    }
    .church__left {
    }
    .church__church-img {
    }
    .church__right {
    }
    .church__right-subtitle {
        font-size: 26px;
    }
    .church__right-text {
    }
    .church__right-link {
        margin-top: 10px;
    }
    .church__left2 {
        order: 2;
    }
    .church__right-title {
        font-size: 21px;
    }
    .church__right2 {
        order: 1;
    }
    .church__sunday-left {
        width: 100%;
    }
    .church__sunday-image1 {
    }
    .church__sunday-right {
        width: 100%;
    }
    .church__wrapper-calendar {
    }
    .church__right-calendar {
    }
    .church__calendar-description {
    }
    .church__left-calendar {
    }
    .church__day-icon a img {
        margin:  0 auto;
    }
}
