.footer {
    background-color: #1c4981;
    color: var(--color-white);

    &__inner {
        padding: 50px 0;
    }

    &__wrapper-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        gap: 30px;
    }

    &__wrapper-top-title {
        text-align: center;
        font-size: 55px;
        line-height: 1;
        font-weight: 400;
        color: var(--color-white);
    }

    &__wrapper-top-rigth {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px 30px;
    }

    &__wrapper-top-text {
        font-size: 21px;
    }

    &__svg {
        width: 40px;
        height: auto;
    }

    &__g {
        fill: var(--color-white);
    }
    &__wrapper-top-logo {
        width: 40px;
    }

    &__hr {
        color: var(--color-white);
        margin-bottom: 30px;
    }

    &__wrapper-bottom {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__wrapper-bottom-left {
        flex-basis: 350px;
    }

    &__wrapper-text {
        font-size: 21px;
        margin-bottom: 15px;
    }

    &__wrapper-left-phone {
        display: block;
        margin-bottom: 15px;
        font-size: 21px;
        text-decoration: none;
        color: var(--color-white);
    }

    &__wrapper-bottom-center {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }


    &__center-span {
        display: block;
        font-size: 23px;
        margin-bottom: 15px;
        color: #4CA1DA;
    }

    &__wrapper-email {
        text-decoration: none;
        color: var(--color-white);
        font-size: 21px;
    }

    &__wrapper-item {
        list-style: none;
        margin-bottom: 15px;
    }

    &__wrapper-link {
        text-decoration: none;
        color: var(--color-white);
        font-size: 21px;
    }

    &__wrapper-center-social {
        flex: 0 0 165px;
    }

    &__wrapper-link-social {
        display: inline-block;
    }

    &__wrapper-youtube {
        width: 100px;
    }

    &__wrapper-bottom-rigth {
        display: flex;
        align-items: flex-end;
    }

    &__wrapper-rigths {
        font-size: 21px;
    }
}

@media screen and (max-width: 1100px) {
    .footer__wrapper-bottom {
        flex-wrap: wrap;
    }

    .footer__wrapper-bottom-center {
        flex-direction: column;
        gap: 15px;
    }

    .footer__wrapper-center-social {
        flex: 0 0 auto;
    }

    .footer__center-span {
        margin-bottom: 5px;
    }

    .footer__wrapper-item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {
    .footer__inner {
        padding: 40px 0;
    }

    .footer__wrapper-top-title {
        font-size: 50px;
    }

    .footer__svg {
        width: 35px;
    }
}

@media screen and (max-width: 768px) {
    .footer__inner {
        padding: 30px 0;
    }

    .footer__wrapper-top-title {
        font-size: 45px;
    }
}

@media screen and (max-width: 630px) {
    .footer__wrapper-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer__wrapper-bottom-left {
        flex-basis: auto;
    }

    .footer__wrapper-bottom-rigth {
        justify-content: center;
    }

    .footer__wrapper-bottom {
        gap: 15px;
    }
}

@media screen and (max-width: 660px) {
    .footer__inner {
        padding: 25px 0;
    }

    .footer__wrapper-top {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .footer__wrapper-top-rigth {
        flex-direction: column;
    }
}