.news {
    padding: 0;

    &::after {
        content: "";
        display: block;
        width: 85%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        height: 0.5px;
        background-color: #000E2A;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;
        margin-bottom: 30px;
    }

    &__article {
        display: flex;
        flex-direction: column;
        gap: 15px;
        cursor: pointer;
    }

    &__thumb {
        border-radius: 8px;
    }

    &__image {
        width: 100%;
        display: block;
        height: 300px;
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
    }

    &__article-title {
        font-size: 24px;
        font-weight: 400;
    }

    &__article-iconbox {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__article-viewsbox {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__article-svg {
        width: 26px;
        height: 26px;
        fill: #646363;
    }

    &__article-number-views {
        font-size: 18px;
        color: #646363;
    }

    &__article-svg-calendar {
        width: 20px;
        height: 20px;
        path {
            fill: #646363;
        }
    }

    &__article-date {
        font-size: 18px;
        color: #646363;
    }

    &__article-link {
        text-decoration: none;
        background-color: var(--accent-color);
        color: var(--color-white);
        padding: 10px 15px;
        text-align: center;
        width: 150px;
        border-radius: var(--border-radius);
        transition: background-color .3s;
        &:hover {
            background-color: var(--accent-color-dark);
        }
    }

    &__link {
        @extend %btn-blue;
        margin: 0 auto;
        width: 150px;
        display: block;
    }
}
