:root {
    --color-white:#ffffff;
    --accent-color:#3d74c7;
    --accent-color-dark:#3865aa;
    --bg-color:#fbfbfb;
    --text-color: #564f4f;

    --border-radius:5px;
    --border-radius-images:8px;
}


//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px